<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showing details</title>
</head>
<body>
    <h2>Enter Your details</h2>
    <h4>fill the options carefully</h4>
    <form action="/" method="post">
        <input type="text" name="name" placeholder="Enter your name"><br><br>
        <input type="text" name="age" placeholder="Enter your age"><br><br>
        <input type="number" name="phone" placeholder="Enter your phone number"><br><br>
        <input type="email" name="email" placeholder="Enter your email"><br><br>
        <input type="submit" value="Submit">
    </form>


    {% if name and age and phone and email %}
        <h3>Your submitted details are:</h3>
        <p>Name: {{ name }}</p>
        <p>Age: {{ age }}</p>
        <p>Phone: {{ phone }}</p>
        <p>Email: {{ email }}</p>
    {% endif %}
</body>
</html>